.layout {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    'hero hero hero'
    'about about about'
    'tracks tracks tracks'
    'history history history'
    'baker baker baker'
    'schedule schedule schedule'
    'faq faq faq'
    'sponsor sponsor sponsor'
    'cta cta cta';
}
