.layout {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. tracks .'
    '. history .'
    'baker baker baker'
    'schedule schedule schedule'
    'faq faq faq';
}
