.about {
  grid-area: about;
  background-color: #5E6F37;
  height: 100%;
}

.aboutContainer {
  margin-top: 0;
  background-image: url('../assets/trees.png');
  background-size: 100% auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 4fr 5fr;
  grid-template-areas: '. aboutContent .';
}

.aboutContent {
  grid-area: aboutContent;
  padding-top: 8vh;
}

.aboutHeader {
  grid-area: aboutHeader;
  height: auto;
}

.aboutText {
  grid-area: aboutText;
  height: auto;
}
