.about {
  grid-area: about;
  background-color: #626E3E;
  height: 100%;
}

.aboutContainer {
  margin-top: 0;
  background-image: url('../assets/trees.png');
  background-position-x: 10%;
  background-position-y: center;
  background-size: auto 100%;
  background-repeat: none;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: '. aboutContent .';
}

@media screen and (min-width: 580px) {
  .aboutContainer {
    background-image: url('../assets/trees-between.png');
  }
}

@media screen and (min-width: 880px) {
  .aboutContainer {
    background-position-x: 10%;
    background-image: url('../assets/trees.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-template-columns: 2fr 4fr 5fr;
  }
}

.aboutContent {
  grid-area: aboutContent;
  padding-top: 8vh;
}

.aboutContent h1 {
  color: #FFF;
}

.aboutContent p {
  color: #FFF;
  font-size: 1.25rem;
}

.aboutHeader {
  grid-area: aboutHeader;
  height: auto;
  font-size: 3.25rem;
}
