.cta {
  grid-area: cta;
  background-image: url('../assets/beach.png');
  background-size: 100% auto;
  height: 180vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ctaContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ctaContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ctaHeader {
  color: #FFF;
}

.ctaButtonWrapper {
  display: flex;
  justify-content: center;
}

.footerWrapper {
  font-family: Gotham, sans-serif;
  font-weight: 300;
  width: 100%;
  display: flex;
  justify-content: center;
}
