.cta {
  grid-area: cta;
  background-image: url('../assets/beach.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.ctaContainer {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footerContainer {
  position: absolute;
  bottom: 0;
}
