.faq {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-row-gap: 2rem;
  grid-template-areas:
  '. header .'
  '. faqWrapper .';
  grid-area: faq;
  background-color: rgba(135, 224, 225, .7);
  padding: 4rem 0;
}

.faqWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-area: faqWrapper;
}

.faqSection {
  width: 45%;
}

.question {
  padding: 0.5rem 0;
}