.faq {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-areas:
    'clouds clouds clouds'
    '. header .'
    '. faqWrapper .';
  grid-area: faq;
  background-color: #DCF6F6;
}

.faqWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  grid-area: faqWrapper;
}

.faqSection {
  width: 45%;
}

.question {
  padding: 0.5rem 0;
}

.cloud_image {
  grid-area: clouds;
}
