.faq {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    'clouds clouds clouds'
    '. faqHeader .'
    '. faqWrapper .';
  grid-area: faq;
  background: linear-gradient(to top, #E1F5F6, #DCF6F6);
}

.faqWrapper {
  display: flex;
  flex-direction: column;
  grid-area: faqWrapper;
}

.faqHeader {
  grid-area: faqHeader;
  color: #000;
  font-size: 3.25rem;
}

.question {
  padding: 0.5rem 0;
}

.question a {
  text-decoration: none;
}

.cloud_image {
  grid-area: clouds;
}

@media screen and (min-width: 992px) {
  .faqSection {
    width: 45%;
  }

  .faqWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
