.hero {
  grid-area: hero;
  background-image: url('../assets/hills.png'), linear-gradient(#90B5ED 20vh, #FEC08A 80vh);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 144vh;
}

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. heroNav .'
    '. heroContent .'
    '. heroButton .';
}

.heroNav {
  padding-top: 3rem;
  grid-area: heroNav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heroLink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Avenir, sans-serif;
  font-size: 1.25rem;
  color: #FFF;
  text-align: center;
  width: 20vw;
  display: inline-block;
}

.heroLogo {
  width: 12%;
  height: auto;
  align-self: center;
}

.heroContent {
  grid-area: heroContent;
  display: flex;
  margin-top: 7vh;
  align-items: center;
  flex-direction: column;
}

.heroTheme {
  width: 100%;
  text-align: center;
}

.heroButtonContainer {
  grid-area: heroButton;
  display: flex;
  justify-content: center;
}
