.hero {
  grid-area: hero;
  background-image: url('../assets/hills.png'), linear-gradient(#90B5ED 20vh, #FEC08A 80vh);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 144vh;
}

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 3fr 1fr;
  grid-template-areas:
    '. heroNav heroNav heroNav .'
    '. . heroContent . .'
    '. . heroButton . . ';
}

.heroNav {
  margin-top: 4vh;
  grid-area: heroNav;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.logo {
  height: 17vh;
}

.logoWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 2vw;
}

.heroContent {
  grid-area: heroContent;
  width: 100vw;
  display: flex;
  margin-top: 7vh;
  align-items: center;
  flex-direction: column;
}

.heroTheme {
  width: 30vw;
  text-align: center;
}

.heroButtonContainer {
  grid-area: heroButton;
  display: flex;
  justify-content: center;
}
