.hero {
  grid-area: hero;
  background-image: url('../assets/hills.png'), linear-gradient(#90B5ED 20vh, #FEC08A 80vh);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .hero {
    height: 124vh;
  }
}

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. heroNav .'
    '. heroContent .'
    '. heroButton .';
}

.heroNav {
  padding-top: 3rem;
  display: grid;
  grid-template-areas: '. navLogo .';
  grid-area: heroNav;
}

@media screen and (min-width: 992px) {
  .heroNav {
    grid-template-areas: 'navLeft navLogo navRight';
  }

  .heroNav .navLeft,
  .heroNav .navRight {
    display: flex;
  }
}

.navLeft {
  display: none;
  flex-direction: row;
  grid-area: navLeft;
  align-items: center;
  justify-content: flex-end;
}

.navRight {
  display: none;
  flex-direction: row;
  grid-area: navRight;
  align-items: center;
}

.heroLink {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 1.25rem;
  color: #FFF;
  padding: 2rem;
}

.heroLogo {
  grid-area: navLogo;
  display: flex;
  justify-content: center;
}

.heroLogo img {
  display: block;
  width: auto;
  max-width: none;
  height: 8rem;
}

.heroContent {
  grid-area: heroContent;
  display: flex;
  margin-top: 7vh;
  align-items: center;
  flex-direction: column;
}

.heroTheme {
  display: flex;
  justify-content: center;
}

.heroTheme img {
  display: block;
  width: auto;
  max-width: none;
  height: 9rem;
}

.heroButtonContainer {
  grid-area: heroButton;
  display: flex;
  justify-content: center;
}
