.history {
  margin-top: 9rem;
  grid-area: history;
}

.historyContainer {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. historyHeader .'
    '. historyText .'
    '. historyButton .';
}

.historyHeader {
  grid-area: historyHeader;
}

.historyHeader h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
}

.historyText {
  grid-area: historyText;
  text-align: left;
}

.historyText p {
  font-size: 1.3rem;
  color: #67778E;
  font-weight: 500;
}

.historyButtonContainer {
  grid-area: historyButton;
}

.historyButton {
  font-size: 1.15rem;
  color: #67778E;
  border: 3px solid #67778E;
  background: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  border-radius: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.historyButton:hover {
  background-color: #67778E;
  color: #FFF;
}

@media screen and (min-width: 992px) {
  .historyContainer {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-column-gap: 1rem;
    grid-template-areas:
      '. historyHeader historyText .'
      '. historyButton . .';
  }

  .historyText {
    text-align: right;
  }
}
