.schedule {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. header .'
    '. scheduleWrapper .'
    'bottomGrass bottomGrass bottomGrass';
  grid-area: schedule;
  background-color: #8BB261;
}

.scheduleWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  grid-area: scheduleWrapper;
  background-color: #FFF;
  border-radius: 2rem;
}

.event {
  padding: 0.5rem 0;
}

.scheduleSection {
  width: 45%;
}

.dayHeader h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 0;
  text-align: center;
}

.bottomGrass_image {
  grid-area: bottomGrass;
}

.scheduleHeader {
  font-size: 4.5rem;
  color: #FFF;
}
