.schedule {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. scheduleHeader .'
    '. scheduleWrapper .'
    'bottomGrass bottomGrass bottomGrass';
  grid-area: schedule;
  background-color: #8BB261;
}

.scheduleWrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. friday .'
    '. saturday .'
    '. sunday .';
  grid-area: scheduleWrapper;
  background-color: #FFF;
  border-radius: 1rem;
}

.saturday {
  grid-area: saturday;
}

.friday {
  grid-area: friday;
}

.sunday {
  grid-area: sunday;
}

.dayHeader {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(48, 48, 48);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  padding: 2rem;
}

.bottomGrass_image {
  grid-area: bottomGrass;
}

.scheduleHeader {
  font-size: 3.25rem;
  color: #FFF;
  grid-area: scheduleHeader;
}

.event h2 {
  font-size: 1.5rem;
  color: rgb(48, 48, 48);
  letter-spacing: 0.1rem;
}

.event p {
  font-size: 1.25rem;
}

@media screen and (min-width: 992px) {
  .scheduleWrapper {
    grid-row-gap: 2rem;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: 'friday saturday sunday';
    padding: 2rem;
    text-align: center;
  }

  .dayHeader {
    font-size: 3.5rem;
    color: rgb(48, 48, 48);
  }

  .event {
    padding: 0.75rem;
  }

  .event h2 {
    font-size: 1.5rem;
  }

  .event p {
    font-size: 1.25rem;
  }
}
