.sponsor {
  display: grid;
  grid-area: sponsor;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    'sponsorTransition sponsorTransition sponsorTransition'
    '. sponsorHeader .'
    '. sponsorContainer .'
    '. sponsorButton .';
    background: linear-gradient(#B3F1F9 80vh, #7DD8F4);
}

.sponsorHeader {
  grid-area: sponsorHeader;
  font-size: 3.25rem;
  color: #FFF;
}

.sponsorButtonWrapper {
  margin: 0 auto;
  padding: 2em;
}

.sponsorButtonWrapper button {
  font-size: 1.15rem;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 1.25em;
  background: transparent;
  display: inline-block;
  padding: 0.5rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.sponsorContainer {
  grid-area: sponsorContainer;
  display: flex;
  flex-direction: column;
}

.sponsorTransition_image {
  grid-area: sponsorTransition;
}
