.sponsor {
  display: grid;
  grid-area: sponsor;
  grid-template-areas:
    '. header .'
    '. sponsorContainer .'
    '. sponsorButton .';
  grid-template-columns: 1fr 9fr 1fr;
  padding: 3rem 0;
  background-image: url('../assets/sponsorBkgd.png'), linear-gradient(#b1f8fd, #7dd7f4);
  background-size: 100% auto;
  height: 200vh;
  max-width: 100%;
}

.sponsorContainer {
  grid-area: sponsorContainer;
  display: flex;
  flex-direction: column;
}

.sponsorContent {
  width: 100%;
}

.sponsorButtonWrapper {
  margin: 0 auto;
}
