.sponsorLogos {
  display: grid;
  grid-template-columns: 1fr;
}

.topSponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topSponsors img {
  width: 100%;
  margin: 2rem;
}

.silver {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.silver img {
  width: 100%;
  margin: 2rem;
}

.medLogo {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.topLogo {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.f5 {
  padding: 0 30%;
}

.itrade {
  padding-bottom: 4.25%;
}

@media screen and (min-width: 992px) {
  .sponsorLogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .topSponsors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
  }

  .topLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
  }

  .medSponsors {
    display: grid;
    grid-column: span 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .medLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .smallLogos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 3;
    width: 80%;
    margin: 0 auto;
  }

  .silver {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-items: center;
  }
}
