.sponsorLogos {
  display: grid;
  grid-template-columns: 1fr;
}

.silver {
  display: flex;
  padding: 2rem;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 992px) {
  .sponsorLogos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
