.sponsor {
  display: grid;
  grid-area: sponsor;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    'sponsorTransition sponsorTransition sponsorTransition'
    '. sponsorHeader .'
    '. sponsorContainer .'
    '. sponsorButton .';
  background: linear-gradient(#B3F1F9 80vh, #7DD8F4);
}

.sponsorHeader {
  grid-area: sponsorHeader;
  font-size: 3.25rem;
  color: #FFF;
}

.sponsorButtonWrapper {
  margin: 0 auto;
  padding: 2em;
}

.sponsorButton {
  font-size: 1.15rem;
  background: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 2.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  color: #FFF;
  border: 3px solid #FFF;
  transition: 0.25s ease-in-out;
}

.sponsorButton:hover {
  background: #FFF;
  color: #000;
}

.sponsorContainer {
  grid-area: sponsorContainer;
  display: flex;
  flex-direction: column;
}

.sponsorTransition_image {
  grid-area: sponsorTransition;
}
