.tracks {
  display: grid;
  grid-area: tracks;
  grid-template-columns: 1fr 10fr 1fr;
  grid-row-gap: 2rem;
  grid-template-areas:
    '. trackHeader .'
    '. track .';
  background-image: url('../assets/tracks.png');
  background-size: cover;
  padding: 2em 0;
}

.track {
  grid-area: track;
  display: flex;
  flex-direction: column;
}

.trackHeader {
  color: #FFF;
  font-size: 3.25rem;
  grid-area: trackHeader;
}

.trackContainer {
  padding: 1rem;
}

.trackContainer p {
  font-size: 1.25rem;
}

.track h2:first-of-type {
  margin-bottom: 0;
}

.trackImageContainer {
  text-align: center;
}

.image {
  width: 40%;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .track {
    flex-direction: row;
    justify-content: space-between;
  }

  .trackContainer {
    width: 30%;
  }

  .trackImageContainer {
    text-align: left;
  }
}
