.navitem {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Gotham, sans-serif;
  font-size: 1.25rem;
  color: #FFF;
  margin: 0 2vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
